<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Idle__000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,500}</string>
                <key>spriteSourceSize</key>
                <string>{290,500}</string>
                <key>textureRect</key>
                <string>{{1003,1},{290,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run__000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-3}</string>
                <key>spriteSize</key>
                <string>{338,488}</string>
                <key>spriteSourceSize</key>
                <string>{376,520}</string>
                <key>textureRect</key>
                <string>{{1071,503},{338,488}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run__001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-7}</string>
                <key>spriteSize</key>
                <string>{334,506}</string>
                <key>spriteSourceSize</key>
                <string>{376,520}</string>
                <key>textureRect</key>
                <string>{{1,1},{334,506}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run__002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-1}</string>
                <key>spriteSize</key>
                <string>{330,504}</string>
                <key>spriteSourceSize</key>
                <string>{376,520}</string>
                <key>textureRect</key>
                <string>{{671,1},{330,504}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run__003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,9}</string>
                <key>spriteSize</key>
                <string>{362,478}</string>
                <key>spriteSourceSize</key>
                <string>{376,520}</string>
                <key>textureRect</key>
                <string>{{1,509},{362,478}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run__004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{366,484}</string>
                <key>spriteSourceSize</key>
                <string>{376,520}</string>
                <key>textureRect</key>
                <string>{{365,507},{366,484}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run__005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,0}</string>
                <key>spriteSize</key>
                <string>{336,484}</string>
                <key>spriteSourceSize</key>
                <string>{376,520}</string>
                <key>textureRect</key>
                <string>{{733,507},{336,484}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run__006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-4}</string>
                <key>spriteSize</key>
                <string>{332,504}</string>
                <key>spriteSourceSize</key>
                <string>{376,520}</string>
                <key>textureRect</key>
                <string>{{337,1},{332,504}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run__007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,8}</string>
                <key>spriteSize</key>
                <string>{326,488}</string>
                <key>spriteSourceSize</key>
                <string>{376,520}</string>
                <key>textureRect</key>
                <string>{{1295,1},{326,488}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run__008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,19}</string>
                <key>spriteSize</key>
                <string>{328,462}</string>
                <key>spriteSourceSize</key>
                <string>{376,520}</string>
                <key>textureRect</key>
                <string>{{1623,1},{328,462}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run__009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,2}</string>
                <key>spriteSize</key>
                <string>{344,478}</string>
                <key>spriteSourceSize</key>
                <string>{376,520}</string>
                <key>textureRect</key>
                <string>{{1411,491},{344,478}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>left.png</string>
            <key>size</key>
            <string>{1952,992}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8a099d06ef78a014892d954253b44605:45037a80f5c5e89237bd0fc79cc9eac9:dfecac88dae6b1f6cbf6e1af60e02e07$</string>
            <key>textureFileName</key>
            <string>left.png</string>
        </dict>
    </dict>
</plist>
